<h1>drawing</h1>

<p>draw a picture!</p>


<%= simple_form_for @drawing do |f| %>

  <%= f.input :picture %>
  <%= f.hidden_field :flagged_innapropriate, value: false %>
  <%= f.hidden_field :moderated, value: false %>
  <%= f.hidden_field :photo_id, value: params[:photo_id] %>




  <%= f.button :submit %>

<% end %>
