<section id="sticky-scroll">
  <% @photos.each do |photo| %>
      <% if photo.picture? && !photo.flagged_innapropriate %>
      <% if photo != @photos.first %>
        <hr/>
      <% end %>
        <article class="photo-drawings-group">
        <div class="photo-container">
          <%= link_to photo_path(photo) do %>

            <%= image_tag photo.picture.large.url %>
          <%end%>
        </div>


          <% if photo.drawings.length != 0 %>
            <ul class="sticky-drawings">
            <% for drawing in photo.drawings.reverse().take(5) %>
                <li>
                    <%= image_tag drawing.picture.large.url %>
                </li>
            <% end %>
            </ul>

          <% end %>
          <% if photo.drawings.length == 0 %>
            <div class="no-drawings-msg">
              <p>
                😢 no-one has drawn this photo yet! why not <a href=<%= %"/photos/#{photo.id}/drawings/new" %>> be the first?</a>
              </p>
            </div>
          <% end %>
        </article>
      <%end%>
  <%end%>
</section>

<p>
<%= link_to "New Photo", new_photo_path%>
</p>
