<h1>new photo</h1>

<%= simple_form_for @photo do |f| %>

  <%= f.input :image %>
  <%= f.hidden_field :flagged_innapropriate, value: false %>
  <%= f.hidden_field :moderated, value: false %>



  <%= f.button :submit %>

<% end %>

<%= javascript_pack_tag 'photo' %>