


<h2>drawings:</h2>

<%= link_to "Draw me", "/photos/#{@photo.id}/drawings/new"%>

<%= link_to "This photo is inappropriate", "/photos/#{@photo.id}/update", method: :edit, data: {confirm: "are you sure?"} %>

<br>
<%= image_tag @photo.picture.large.url %>

<ul>
<% for drawing in @photo.drawings %>
    <li>
        picture: <%= drawing.picture %>
        photo_id: <%= drawing.photo_id%>
    </li>
<% end %>
</ul>
