<h2>drawings:</h2>

<%= link_to "Draw me", "/photos/#{@photo.id}/drawings/new"%>

<% if !@photo.flagged_innapropriate %>
    <%= link_to "This photo is inappropriate", "/photos/#{@photo.id}", method: :patch, data: {confirm: "are you sure?"} %>
<% end %>
<%= image_tag @photo.picture.large.url %>

<ul>
<% for drawing in @photo.drawings %>
    <li>
        <%= image_tag drawing.picture.large.url %>
        <%# photo_id: <%= drawing.photo_id%>
    </li>
<% end %>
</ul>
