<!DOCTYPE html>
<html>
  <head>
    <title>CoconutGallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p><span>&#169;</span>Niall and John</p>
  <p><a href="mailto: coconutgallery@gmail.com">Email Us Here</a></p>
</footer>
</html>
