<!DOCTYPE html>
<html>
  <head>
    <title>CoconutGallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

</head>

  <body>
  <a href="/">
        <h1 id="title-top">
            Coconut Gallery
        </h1>
      </a>
    <header>
      <nav class="navBar">
        <%= link_to "Home", root_path %>
        <%= link_to "Gallery", photos_path %>
        <%= link_to "Unloved", photos_unloved_path if Photo.joins("LEFT JOIN drawings ON drawings.photo_id = photos.id WHERE drawings.id IS NULL AND (photos.flagged_innapropriate = False OR photos.moderated = True)").any?  %>
        <%= link_to "About", pages_about_url %>
      </nav>
    </header>

    <%= yield %>
  </body>

<%= javascript_pack_tag 'wonkyLogo' %>
<%= javascript_pack_tag 'stickyHeader' %>
</html>
