<!DOCTYPE html>
<html>
  <head>
    <title>CoconutGallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

</head>

  <body>
  <a href="/">
        <h1 id="title-top">
            Coconut Gallery
        </h1>
      </a>
    <header>
      <nav class="navBar">
        <%= link_to "Home", root_path %>
        <%= link_to "Gallery", photos_path %>
        <%= link_to "About", pages_about_url %>
      </nav>
    </header>

    <%= yield %>
  </body>

  <%# <footer>
    <p><span>&#169;</span>Niall and John</p>
  <p><a href="mailto: coconutgallery@gmail.com">Email Us Here</a></p>
</footer> %>

<%= javascript_pack_tag 'wonkyLogo' %>
<%= javascript_pack_tag 'stickyHeader' %>
</html>
